{% load custom_tags %}
{% load static %}
<header>
<div class="p-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none ah_check_tooltip">
        <object type="image/svg+xml" data="{% static 'img/logo.svg' %}" class="bi me-2" width="34" height="40"></object>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'homepage' %}" class="nav-link px-2">Главная</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Магазин</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'goods' %}">Все товары</a>
            <hr class="dropdown-divider">
            {% get_categories %}
          </div>
        </li>
        <li><a href="{% url 'about' %}" class="nav-link px-2">О нас</a></li>
        <li><a href="{% url 'contact' %}" class="nav-link px-2">Контакты</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control" placeholder="Search...">
      </form>


      {% if user.is_authenticated %}

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle ah_check_tooltip" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            {{ user }}
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
            <li><a class="dropdown-item ah_check_tooltip" href="#">New project...</a></li>
            <li><a class="dropdown-item ah_check_tooltip" href="#">Settings</a></li>
            <li><a class="dropdown-item ah_check_tooltip" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item ah_check_tooltip" href="{% url 'logout' %}">Sign out</a></li>
          </ul>
      </div>
      {% else %}
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      {% endif %}
    </div>
  </div>
</div>
{% url 'homepage' as home %}
{% if request.get_full_path != home %}
<div class="p-3" style="background: #efefef">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-start">
      <span class="fw-normal align-middle">Home > Single Page</span>
    </div>
  </div>
</div>
{% endif %}
</header>
