<footer class="p-3" style="background: #efefef">
  <div class="container mt-4">
      <div class="row">
        <div class="col">
          <p>Онлайн-магазин E-commerce</p>
        </div>
        <div class="col">
          <div class="d-flex justify-content-end">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>
  </div>
</footer>