{% extends "base.html" %}
{% load custom_tags %}

{% block head-extend %}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="row row-cols-3 g-4">
    {% if goods_list %}
      {% for goods in goods_list %}
        <div class="col">
          <div class="card">
            {% include 'main/goods_card.html' with goods=goods %}
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>По Вашему запросу товаров не найдено</p>
    {% endif %}
  </div>

  {% include 'main/snippets/pagination.html' %}

{% endblock %}

{% block sidebar %}
<div class="col-3 border rounded ">
  <div class="row">
    <div class="card-body">
      <span class="h4">Тэги</span>
      {% get_tags_cloud %}
    </div>
  </div>


  <div class="row">
    <div class="card-body">
      <span class="h4">Бренды</span>
      <div id="brands">
          <div class="checkbox"><label><input type="checkbox" name="brands[]" value="1"> Apple</label></div>
          <div class="checkbox"><label><input type="checkbox" name="brands[]" value="2"> Samsung</label></div>
          <div class="checkbox"><label><input type="checkbox" name="brands[]" value="3"> Lenovo</label></div>
          <div class="checkbox"><label><input type="checkbox" name="brands[]" value="4"> Что-то еще</label></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-body">
      <span class="h4">Фильтр по ценам</span>
      <div id="prices-label">5000 - 50000 руб.</div>
      <input type="hidden" id="min-price" name="min_price" value="5000">
      <input type="hidden" id="max-price" name="max_price" value="50000">
      <div id="prices"></div>
    </div>
  </div>
  <div class="row">
    <div class="card-body">
      <span class="h4">Сортировка</span>
      <br>
      <select id="sort" name="sort" class="form-control">
          <option value="price_asc">По цене, сначала дешевые</option>
          <option value="price_desc">По цене, сначала дорогие</option>
          <option value="good_asc">По названию, A-Z</option>
          <option value="good_desc">По названию, Z-A</option>
      </select>
    </div>
  </div>

</div>

{% endblock %}



